# ignore __pycache__ directories
__pycache__/

# ignore .pyc files
*.pyc

# ignore .vscode directory
.vscode/

# ignore .npz files
*.npz

# ignore .csv files
*.csv

# ignore runtime artifacts
results/**/*.json
results/**/*.h5
results/**/~*
metrics/*
# ignore cifar10-related code
10

# ignore non-federated learning code
client-solo.py
docker-compose.solo.yml